$bg-color-blue: #0053a0;
$bgc-on-hover: #ffffff;

.wrap-content {
    height: 120px;
    background-color: #7B7172;
    font-family: 'Domine', serif;
    position: relative;

    .ag-banking-online {
        display: flex;
        justify-content: flex-end;
    }
}

.ag-banking-online .btn {
    margin-top: 50px;
    background-color: $bg-color-blue;
    color: $bgc-on-hover;
    font-size: 17px;

    &:hover {
        background-color: $bgc-on-hover;
        color: #000000
    }
}

.card-modal {
    width: 300px;
    font-size: 14px;
    border-top: 7px solid $bg-color-blue;
    background-color: $bgc-on-hover;
    color: #58585b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
    transition: box-shadow .4s ease;
    position: absolute;
    right: 15px;

    a {
        color: #0053a0;
    }

    .wrap-card-content{
        padding: 25px;
        position: relative;
    }

    .m-b-10 {
        margin-bottom: 10px;
    }

    .m-b-25 {
        margin-bottom: 25px;
    }

    .wrap-btn-input {
        padding-right: 5px;

        input {
            font-size: 13px;
            height: 34px;
        }
    }

    .wrap-btn-login {
        padding-left: 0;
    }

    .btn-login {
        background-color: #5F7230;
        color: $bgc-on-hover;
        font-size: 13px;
        padding: 6px 12px;

        &:hover {
            background-color: $bg-color-blue;
        }
    }

    .wrap-btn-close {
        display: flex;
        justify-content: flex-end;
    }

    .btn-close {
        font-size: 14px;
        color: #58585b;
        background: none;
        border: 0;
    }
    
}