<div class="container wrap-content">
  <div class="ag-banking-online">
      <button type="button" class="btn" (click)="onClick()">AG BANKING ONLINE</button>
  </div>

  <div class="card-modal" *ngIf="isOpen">
    <div class="wrap-card-content">
        <p class="m-b-10">
          <strong>Login ID<small> (Required)</small></strong>
        </p>
        <div class="row">
          <div class="col-8 wrap-btn-input">
            <input type="email" class="form-control" placeholder="Enter Login Id">
            <small class="form-text text-muted"><a href="#">Forgot Password</a></small>
          </div>
          <div class="col-3 wrap-btn-login">
            <button type="button" class="btn btn-login">Login</button>
          </div>
        </div>
        <div class="m-b-25"></div>
        <p class="m-b-10">
          <strong>Not registered yet?</strong>
        </p>
        <p class="text-card">Easily manage your accounts, make payments, and monitor your loans.
          <br>
          <a href="#">Signing up is easy. Do it today.</a>
        </p>
        <div class="m-b-25"></div>
        <div class="wrap-btn-close">
          <button type="button" class="btn btn-close" (click)="onClick()">Close<i class="far fa-times-circle"></i></button>
        </div>
    </div>
  </div>
</div>